/* =========== for all dekstop version css ============*/
.fira{
    font-family: 'Fira Sans', sans-serif;
}
.lato{
    font-family: 'Lato', sans-serif;
}
/*::-webkit-scrollbar {
    display: scroll;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #f1f1f1
}
::-webkit-scrollbar-thumb {
    background-color: #888
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}*/
* {
    outline: none;
    -webkit-appearance: none;
}
body {
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;    
    line-height: 1.5;
    color: #565656;
    max-width: 100%;
    margin: auto;
}
a{
	outline: none;
    outline-offset: 0px;
	text-decoration: none;
}
a:hover{
    color: #f2300c;
	outline: none;
    outline-offset: 0px;
	text-decoration: none;
	font-style: none;
}
a:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
	text-decoration: none;
}
textarea:focus, input:focus, select:focus{
    /*border-color: #fec601;*/
    border:1px solid #f2300c;
    box-shadow: 0 0 5px #719ECE;
}
.pad-0{
	padding: 0;
}

/* ============ global ============ */
input[type="radio"] {
    appearance: radio;
    -webkit-appearance: radio;
}
select {
    appearance: searchfield;
    -webkit-appearance: searchfield;
}
.btn_yellow {
    background: #FFCE00;
    /* line-height: 35px; */
    /* margin-top: 15px; */
    padding: 5px 20px;
    font-size: 15px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    letter-spacing: .3px;
    cursor: pointer;
    display: block;
}
.btn_yellow:hover,
.btn_yellow:focus {
    transition: .8s;
    -webkit-transition: .8s;
    background-color: #414141;
    color: #FBCC32;
}
.btn_black {
    background: #555555;
    /* line-height: 35px; */
    /* margin-top: 15px; */
    padding: 5px 20px;
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    letter-spacing: .3px;
    cursor: pointer;
    display: block;
}
.btn_black:hover,
.btn_black:focus {
    transition: .8s;
    -webkit-transition: .8s;
    background-color: #757373;
    color: #ffffff;
}
.nopadding {
    padding: 0px !important;
}
.nopadding_left {
    padding-left: 0px !important;
}
.nopadding_right {
    padding-right: 0px !important;
}
.nomargin {
    margin: 0px !important;
}
.nomargin_left {
    margin-left: 0px !important;
}
.nomargin_right {
    margin-right: 0px !important;
}
.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
}
.pagination a {
    color: #757575;
    padding: 3px 10px;
    margin: 0px 2px;
    font-weight: 700;
}
.pagination a:hover,
.pagination a.active {
    color: #007E27;
    transition: .3s;
    -webkit-transition: .3s;
}
.pagination a.prev,
.pagination a.next,
.pagination a.first,
.pagination a.last {
    color: #FFFFFF;
    background-color: #007E27;
}
.pagination a.prev:hover,
.pagination a.next:hover,
.pagination a.first:hover,
.pagination a.last:hover {
    color: #FFFFFF;
    background-color: #414141;
}
.pagination a:hover {
    transition: .3s;
    -webkit-transition: .3s;
}
/* ============ global end ============ */

#container{
    font-family: 'Fira Sans', sans-serif;
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
    padding-right: 0;
    padding-left: 0;
    background: #F2F3F7;
}
.row{
	margin: 0;
}
.header{
    /*background: #007E27;*/
    /*background: transparent linear-gradient(108deg, #007E27 0%, #006714 100%) 0% 0% no-repeat padding-box;*/
    background: #fff;
    height: 130px;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    transition: .3s;
    -webkit-transition: .3s
}
.header.home{
    background: transparent;
    z-index: 1000;
    position: absolute;
    width: 100%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
    transition: .3s;
    -webkit-transition: .3s
}
input[type="checkbox"]{
  width: 30px; /*Desired width*/
  height: 30px; /*Desired height*/
  cursor: pointer;
/*  -webkit-appearance: none;
  appearance: none;*/
}
/* === header === */
.row_topMenu{
    padding-left: 85px;
    padding-right: 85px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
.col_left_topMenu{

}
.col_right_topMenu{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}
.mg_topLogo{
    margin-top: 15px;
    margin-bottom: 10px;
}
.mg_topLogo img{
    height: 100px;
    width: auto;
}
.box_topRegist{
    margin-bottom: 20px;
}
.box_topRegist .a_registNow{
    width: auto;
    line-height: 30px;
    background: #FBCC32;
    font-size: 13px;
    color: #000;
    letter-spacing: .3px;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: -4px;
    transition: .3s;
    -webkit-transition: .3s
}
.box_topRegist .a_registNow:hover{
    opacity: .8px;
    transition: .3s;
    -webkit-transition: .3s
}
.box_topRegist .a_loginNow{
    width: auto;
    line-height: 30px;
    background: #007E27;
    font-size: 13px;
    color: #fff;
    letter-spacing: .3px;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    transition: .3s;
    -webkit-transition: .3s
}
.box_topRegist .a_loginNow:hover{
    opacity: .8;
    transition: .3s;
    -webkit-transition: .3s
}
.box_topRegist .a_spaceTop{
    position: absolute;
    top: 10px;
    right: -85px;
    width: 90px;
    line-height: 30px;
    height: 30px;
    background: #555555;
    color: #fff;
    text-align: left;
    padding-left: 10px;
}

.a_spaceTop a{
    font-size: 13px;
    color: #fff;
    transition: .3s;
    -webkit-transition: .3s
}

.a_spaceTop a:hover{
    color: #FFCE00;
    transition: .3s;
    -webkit-transition: .3s
}
.greenspace{
    width: 11.5px;
    line-height: 30px;
    height: 30px;
    background: #006714;
    float: left;
    margin-left: -20px;
}
.listTopMenu{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
.listTopMenu li{
    float: left;
    line-height: 30px;
    padding-right: 15px;
    padding-left: 15px;
    transition: .3s;
    -webkit-transition: .3s
}
.listTopMenu li a{
    font-size: 14px;
    color: #000;
    font-weight: normal;
    letter-spacing: .3px;
    transition: .3s;
    -webkit-transition: .3s

}
.listTopMenu li.act a{
    font-weight: 600;
}
.listTopMenu li:hover > a,
.listTopMenu li.active > a{
    font-weight: 600;
    transition: .3s;
    -webkit-transition: .3s
}
/* === footer === */
.row_footer{
    background: #EEEEEE;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 95px;
    padding-right: 95px;
    -webkit-box-shadow: inset 0px 0px 10px 3px #00000029;
    -moz-box-shadow:inset 0px 0px 10px 3px #00000029;
    box-shadow: inset 0px 0px 10px 3px #00000029;
    margin-left: -10px;
    margin-right: -10px;
}
.col_menuFooter{

}
.col_footerLogo{
    text-align: left;
    margin: auto;
    padding: 0;
}
.mg_footerLogo{
    margin: auto;
    margin-top: 10px;
}
.mg_footerLogo img{
    height: 100px;
    width: auto;
}
h3.pt_menuFooter{
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: #006A39;
    font-weight: 600;
    letter-spacing: .3px;
    margin-bottom: 15px;
}
.cont_menuFooter{
    font-size: 15px;
    color: #000;   
}
.cont_menuFooterKontak p {
    margin-bottom: 9px;
}
.cont_menuFooterKontak a {
    display: block;
    color: #434343;
    font-size: 13px;
}
.cont_menuFooterKontak a img {
    margin-right: 10px;
    width: 20px;
    float: left;
}
.cont_menuFooterKontak a span {
    width: 210px;
    float: left;
}
.cont_menuFooterKontak a.phone img {
    margin-right: 10px;
}
.cont_menuFooterKontak a.address img {
    margin-left: 1px;
    margin-right: 9px;
}
.a_daftarNU{
    float: right;
    width: auto;
    font-size: 13px;
    font-weight: 600;
    margin-top: 5px;
}
button.a_daftarNU {
    border: none;
}
.medsos_menuFooter a {
    display: block;
    float: left;
    margin-left: 10px;
}
.medsos_menuFooter a:first-child {
    margin-left: 0px;
}
.medsos_menuFooter a img {
    width: 30px;
}
.row_copyright{
    background: #707070;
    -webkit-box-shadow: inset 0px 50px 25px 0px #414141;
    -moz-box-shadow: inset 0px 50px 25px 0px #414141;
    box-shadow: inset 0px 50px 25px 0px #414141;
    margin-left: -10px;
    margin-right: -10px;
}
.col_copyright{

}
.pt_copyright{
    line-height: 38px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    letter-spacing: .3px;
}

/* === Login ===*/
.row_login{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: transparent linear-gradient(108deg, #007E27 0%, #006714 100%) 0% 0% no-repeat padding-box;
}
.col_login{
    overflow: auto;
    text-align: center;
}
.box_login{
    background: #fff;
    padding: 25px;
    border: 0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
h1.ht_login{
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    letter-spacing: .3px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.login_fields{
    margin-top: 15px;
    margin-bottom: 10px;
}
.f_ad_input{
    text-align: left;
    margin-bottom: 15px;
}
.f_ad_input label{
    font-size: 15px;
    color: #333;
    font-weight: 500;
    margin-bottom: 5px;
}
.f_ad_input .f_err{
    display: none;
    font-size: 11px;
    color: red;
    font-weight: 500;
    margin-top: 3px;
}
.f_ad_input span{
    width: 100%;
    height: 30px;
    float: right;
    text-align: right;
    font-size: 12px;
    color: #333;
    text-decoration: underline;
}
.f_ad_input .p_input {
    /* background: #fff;
    width: 100%;
    line-height: 35px;
    font-size: 14px;
    color: #000; */
    /* border: 1px solid rgba(0,0,0,.2); */
    /* padding-left: 10px;
    padding-right: 10px; */
    position: relative;
}
.f_ad_input .p_input > div {
    display: flex;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 35px;
    height: 96%;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
}
.f_ad_input .p_input > div span {
    position: absolute;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.f_ad_input .p_input input {
    padding-right: 45px;
}
.ad_input {
    background: #fff;
    width: 100%;
    line-height: 35px;
    font-size: 14px;
    color: #000;
    border: 1px solid rgba(0,0,0,.2);
    padding-left: 10px;
    padding-right: 10px;
}
.ad_input:active,
.ad_input:focus {
    box-shadow: none;
}
.sub_login{
    background: #FFCE00;
    width: 100%;
    line-height: 30px;
    font-size: 13px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .3px;
    text-align: center;
    border: 0;
    border-radius: 20px;
}
.a_bergabung{
    font-size: 12px;
    color: #333;
}
.ok_login{
    text-align: center;
    font-size: 14px;
    color: #333;
}
.ht_okLogin{
    font-size: 24px;
    color: #333;
    margin-top: 15px;
}
.ok_login span{
    width: 100%;
    display: block;
}
.ok_login span.ok_icon{
    font-size: 40px;
    color: green;
}
.ok_login span.remove_icon{
    font-size: 40px;
    color: red;
}
.ok_login img{
    height: 35px;
    width: auto;
    margin-top: 10px;
}
/* === homepage === */
.row_globalPage{
    padding: 30px;
    padding-left: 85px;
    padding-right: 85px;
}
.ht_globalPage{
    font-size: 35px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .3px;
    margin-bottom: 20px;
}
.row_hompage{
    position: relative;
    z-index: 1;
}
.mg_homeBanner{

}
.mg_homeBanner img{
    width: 100%;
    height: auto;
}
.box_homeBanner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15%;
    padding-bottom: 30px;
}
h1.ht_homeBanner{
    line-height: 52px;
    font-size: 58px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
}
.info_homeBanner{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #fff;
    letter-spacing: .3px;
    font-weight: 400;
    margin-bottom: 30px;
}
.btn_homeBanner{
    background: #FFCE00;
    width: auto;
    line-height: 45px;
    font-size: 15px;
    color: #000;
    font-weight:600;
    text-transform: uppercase;
    border: 0;
    padding-right: 20px;
    padding-left: 20px;
}
.row_videoHome{
    /*background: #007E27;*/
    background: #555555;
    padding-top: 70px;
    padding-bottom: 70px;
}
h1.ht_home{
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    letter-spacing: .3px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
h2.ht_home{
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    letter-spacing: .3px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.col_videoisnu{
    padding: 0;
    border-right: 1px solid rgba(255,255,255,.4);
}
.col_videoisnu2{
    padding-left: 25px;
}
.mg_bigvideo{
    position: relative;
    max-width: 85%;
    margin-bottom: 15px;
    overflow: hidden;
    height: 335px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mg_bigvideo img{
    /* width: 100%;
    height: auto; */
    max-height: 120%;
}
.mg_bigvideo .iconplay img {
    width: 85px;
}
.mg_smallvideo {
    position: relative;
    width: 100%;
    height: 136px;
}
.mg_smallvideo .thumb {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.mg_smallvideo .thumb img{
    max-height: 120%;
}
.mg_smallvideo .iconplay img {
    width: 35px;
}

.mg_postvideo{
    max-width: 100%;
    height: 204px;
    margin-bottom: 15px;
    position: relative;    
    overflow: hidden;
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.mg_postvideo img{
    max-height: 105%;
}
.mg_postvideo .iconplay img {
    width: 60px;
}
h3.ht_videoisnu{
    width: 85%;
    font-size: 20px;
    color: #fff;
    margin: 0;
    font-weight: 600;
    letter-spacing: .3px;
    margin-bottom: 10px;
}
.info_videoisnu{
    font-size: 14px;
    color: #fff;
    letter-spacing: .3px;
    font-weight: 400;
        width: 85%;
}
h3.ht_videoisnu_detail{
    font-size: 20px;
    color: #000;
    margin: 0;
    font-weight: 600;
    letter-spacing: .3px;
    margin-bottom: 10px;
}
.info_videoisnu_detail{
    font-size: 14px;
    color: #000;
    letter-spacing: .3px;
    font-weight: 400;
}
.frame_video{
    margin-bottom: 20px;
    display: block;
}
.frame_video.nomar{
    margin: 0;
}

.row_mimpiHome{
    /*background: #007E27;*/
    background: url(../images/back_black.jpg) repeat;
    padding-top: 80px;
    padding-bottom: 150px;
}
.col_mimpiHome{
    text-align: center;
}
.ht_mimpiHome{
    margin: 0;
    margin-bottom: 10px;
    text-transform: none;
}
.info_mimpiHome{
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    letter-spacing: .3px;
}
.row_listMimpi{
    margin-top: 50px;
}
.col_listMimpi{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}   
.box_listMimpi{
    font-family: 'Lato', sans-serif;
    background: #fff;
    padding: 30px;
}
.mg_listMimpi{

}
.mg_listMimpi img{
    height: 64px;
    width: auto;
}
.ht_listMimpi{
    font-size: 18px;
    color: #000;
    font-weight: 600;
    margin-bottom: 40px;
}
.info_listMimpi{
    height: 70px;
    font-size: 13px;
    color: #000;
}
.a_detailMimpi{
    font-size: 13px;
    color: #000;
    margin-top: 20px;
}
.a_detailMimpi span{
    font-size: 10px;
    margin-left: 5px;
}
.row_bergabungHome{
    position: absolute;
    width: 100%;
    bottom: -240px;
}
.col_bergabungHome{
    background: #fff;
    padding: 50px;
    box-shadow: 0px 4px 20px #00000029;
    text-align: left;
}
.left_bergabungHome{
    float: left;
    width: 59%;
}
.right_bergabungHome{
    width: 40%;
    float: left;
    text-align: right;
    margin: auto;
    padding-top: 21px;
}
.ht_bergabung{
    font-size: 26px;
    color: #000;
    font-weight: 600;
    margin-bottom: 5px;
}
.info_bergabung{
    font-size: 15px;
    color: #000;
}
.btn_bergabung{
    background: transparent linear-gradient(74deg, #DA2828 0%, #B92525 100%) 0% 0% no-repeat padding-box;
    width: auto;
    line-height: 45px;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    border: 0;
    padding-right: 20px;
    padding-left: 20px;
}


.row_homeRubrik{
    background: #EEEEEE;
    height: auto;
    padding-top: 150px;
    padding-bottom: 50px;
}
.row_homeBerita{
    background: #EEEEEE;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px; 
}
h1.ht_homeRubrik{
    color: #007E27;
    letter-spacing: normal;
    margin-bottom: 0;
}
h2.ht_homeRubrik{
    color: #007E27;
    letter-spacing: normal;
    margin-bottom: 0;
}
.sub_ht_rubrik{
    /* font-size: 18px; */
    font-size: 15px;
    color: #000;
    /* font-weight: 700; */
    font-weight: normal;
    text-transform: uppercase;
}
.row_listRubrik{
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
}
.col_bx_homeRubrik{
    padding-left: 20px;
    padding-right: 20px;
}
.left_rubrik_post{
    width: 55%;
    float: left;
    background: #fff;
}
.right_rubrik_post{
    height: 300px;
    background: #fff;
    width: 45%;
    float: left;
    padding: 10px;
}
.mg_rubrik{
    height: 300px;
    width: auto;
    overflow: hidden;
    text-align: center;
    margin:auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mg_rubrik img{
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    height: auto;
    max-height: 100%;
}
.box_rubrikCategory{
    position: absolute;
    margin-left: -65px;
    padding-left: 20px;
    width: 55%;
    line-height: 30px;
    background: #007E27;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
}
.ht_rubrikPost{
    margin: 0;
    margin-top: 45px;
    height: 70px;
    font-size: 16px;
    color: #000;
    font-weight: 600;
}
.content_rubrik{
    font-size: 12px;
    color: #555555;
}
.a_nextRubrik{
    font-size: 12px;
    color: #007E27;
    float: right;
    margin-top: 15px;
}
.a_detailRubrik{
    font-size: 11px;
}
#slide_rubrik{

}
#slide_rubrik.owl-theme .owl-dots{
    text-align: left;
    padding-left: 15px;
}
#slide_rubrik.owl-theme .owl-dots .owl-dot span{
    border-radius: 0px;
    background: #006714;
}
#slide_rubrik.owl-theme .owl-dots .owl-dot.active span, #slide_rubrik.owl-theme .owl-dots .owl-dot:hover span{
    background: #000;
}

.row_listRubrikCategory{
    margin-top: 30px;
    margin-left: -10px;
    margin-right: -10px;
}
.col_bx_vrubrik{
    padding-left: 10px;
    padding-right: 10px;
}
.listRubrikCat{
    list-style: none;
    padding: 0;
    margin: 0;
}
.listRubrikCat li{
    width: 100%;
    /* min-height: 30px; */
    background: #555555;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: .3s;
    cursor: pointer;
    -webkit-transition: .3s;
}
.listRubrikCat li a{
    font-size: 12px;
    color: #fff;
    letter-spacing: .3px;
    cursor: pointer;
    transition: .3s;
    -webkit-transition: .3s;
    display: block;
}
.listRubrikCat li.act{
    background: #000;
    transition: .3s;
    -webkit-transition: .3s
}
.listRubrikCat li:hover{
    opacity: .8;
    transition: .3s;
    -webkit-transition: .3s
}
.col_contentBerita .box_v_listRubrik{
    display: none;
    margin-top: 20px;
}
.col_contentBerita .box_v_listRubrik.act{
    display: block;
}
.box_global_berita{
    display: block;
}
.box_detail_video{
    display: block;
}
.col_v_listRubrik{
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 20px;
}
.bxsm_listRubrik{
    background: #fff;
    transition: .3s;
    -webkit-transition: .3s
}
.bxsm_listRubrik:hover{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    transition: .3s;
    -webkit-transition: .3s
}
.left_listRubrik{
    width: 40%;
    float: left;
}
.right_listRubrik{
    width: 60%;
    float: left;
    padding: 8px;
}
.mg_sm_rubrik{
    height: 120px;
    width: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ht_sm_listRubrik{
    height: 45px;
    font-size: 12px;
    color: #000;
    font-weight: 600;
    margin: 0;
}
.info_sm_listRubrik{
    font-size: 10px;
    color: #000;
    font-weight: 400;
    max-height: 60px;
    overflow: hidden;
}
.bx_right_jelajah {
    margin-top: 50px;
}
.bx_sm_rubrikCat{
    width: 100%;
    display: inline-block;
    background: #007E27;
    line-height: 25px;
    text-align: right;
    font-size: 10px;
    color: #fff;
    padding-right: 10px;
    height: 25px;
    overflow: hidden;
}
.bx_sm_rubrikCat .l_cat{
    float: left;
    background: #555555;
    padding-left: 10px;
    padding-right: 10px;
}
.bx_sm_rubrikCat .r_cat{

}
.bx_sm_rubrikCat.detailPost{
    font-size: 9px;
    text-transform: none;
}
.bx_sm_rubrikCat .r_video{
    display: block;
}
.bx_loadmore{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin:auto;
}
.btn_loadmore{
    background: #FFCE00;
    width: auto;
    line-height: 30px;
    font-size: 13px;
    color: #000;
    font-weight: 600;
    letter-spacing: .3px;   
    border: 0;
    padding-right: 20px;
    padding-left: 20px;
    margin: auto;
    margin-top: 30px;
    transition: .3s;
    -webkit-transition: .3s;
    text-transform: uppercase;
}
.btn_loadmore:hover{
    opacity: .8;
    transition: .3s;
    -webkit-transition: .3s
}
.btn_moreRubrik{

}
/* === other === */

.row_hubungiPage{
    /*background: #007E27;*/
    background: url(../images/back_white2.jpg) repeat;
}
.col_Hubungi{

}

.content_hubungi{
    font-size: 16px;
    color: #000;
    font-weight: 400;
    line-height: 25px;
}
.box_listHubungi{
    margin-top: 50px;
}
a .f_listHubungi label{
    cursor: pointer !important;
}
.f_listHubungi{
    display: flex;
    width: auto;
    text-align: left;
    margin-bottom: 15px;
}
.f_listHubungi img{
    width: 15px;
    height: auto;
}
.f_listHubungi label{
    font-size: 14px;
    color: #000;
    font-weight: 400;
    letter-spacing: .3px;
    padding-left: 30px;
    margin: 0px;
}
.col_formHubungi{
    padding-top: 20px;
    padding-right: 30px;
}
.f_formHubungi{
    margin-bottom: 10px;
}
.f_formHubungi label{
    font-size: 14px;
    color: #000;
    font-weight: normal;
    text-transform: uppercase;
}
.txt_deftext{
    background: #fff;
    width: 100%;
    line-height: 35px;
    font-size: 13px;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgba(0,0,0,.2);
}
.sel_deftext{
    background: #fff;
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgba(0,0,0,.2);
}
.txtarea_deftext{
    background: #fff;
    width: 100%;
    height: 150px;
    line-height: 22px;
    font-size: 13px;
    color: #000;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.2);
}
.agree_deftext{
    line-height: 30px;
    font-size: 13px;
    color: #000;
}
.sub_hubungi{
    background: #FFCE00;
    width: 100%;
    line-height: 35px;
    font-size: 15px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    margin-top: 15px;
}
.f_formHubungi input[type="checkbox"]{
    float: left;
    margin-top: 5px;
    margin-right: 15px;
    cursor: pointer;
    /*-webkit-appearance: none;
    appearance: none;*/
    background: #fff;
    border-radius: 1px;
    box-sizing: border-box;
    box-sizing: content-box ;
    width: 20px;
    height: 20px;
    border-width: 0;
    transition: all .3s linear;

}
span.wpcf7-list-item{
    margin: 0;
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing{
    color: red;
}
.row_tentangPage{
    /*background: #007E27;*/
    background: url(../images/back_white2.jpg) repeat;
    padding-top: 50px;
    padding-bottom: 20px;
}
.mg_back_tentangPage{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    opacity: .5;
}
.mg_back_tentangPage img{
    margin:auto;
}
.col_content_tentang{
    display: none;
}
.col_content_tentang.act{
    display: block;
}
.col_content_tentang_mobile {
    display: none;
}
.col_content_tentang_mobile.act {
    display: block;
}
.tabsTentang{
    list-style: none;
    margin: 0;
    padding: 0;
}
.tabsTentang li{
    position: relative;
    opacity: .5;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: .3s;
    -webkit-transition: .3s
}
.tabsTentang li a{
    font-size: 130px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .3s;
    -webkit-transition: .3s
}
.tabsTentang li.act{
    opacity: 1;
    transition: .3s;
    -webkit-transition: .3s
}
.choose_arrow{
    display: none;
    position: absolute;
    left: -135px;
    top: 50px;
    font-size: 100px;
    color: #007E27;
}
.tabsTentang li.act a .choose_arrow{
    display: block;
}
.col_listTentang{
    padding: 0;
    padding-right: 10px;
    height: 175px;
    margin-bottom: 25px;
}
.numb_tentang{
    float: left;
    width: auto;
    font-size: 70px;
    color: #000;   
    padding-right: 15px;
}
.content_tentang{
    float: left;
    width: 80%;
    font-size: 15px;
    color: #000;
}
.box_cont_onevisi{
    float: right;
    width: 60%;
    text-align: right;
    font-size: 43px;
    line-height: 50px;
    color: #000;
    font-weight: 400;
    margin-top: 40px;
}
.row_homeTokoh{
    background: #006714;
}
.col_homeTokoh1{

    padding: 0;
    padding-right: 15px;
}
.col_homeTokoh2{
    padding: 25px;
    padding-right: 0;
}
.content_homeTokoh{
    font-size: 15.5px;
    color: #fff;
    letter-spacing: .5px;
    font-weight: 400;
    margin-top: 15px;
}
.mg_homeTokoh{
    position: relative;
    margin: auto;
    padding: 0;
}
.mg_homeTokoh img{
    width: 100%;
    height: auto;
}

.ht_quotesTokoh{
    font-size: 45px;
    color: #fff;
    margin: 0;
    font-weight: 400;
    letter-spacing: .5px;
    margin-bottom: 40px;
}
img.mg_quotes{
    height: 40px;
    width: auto;
}
.cont_quotes{
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    letter-spacing: .5px;
}
.box_quotesTokoh{
    width: 50%;
    position: absolute;
    top: 45px;
    right: 0px;
    padding-right: 30px;
}

#formDaftar {
    position: relative;
}
#formDaftar .mg_pleasewait {
    position: absolute;
    z-index: 9;
    left: 50%;
    margin-left: -8%;
    top: 25px;
}
.row_daftarPage{
    background: url(../images/back_white.jpg) repeat;
    /*background-size: 100% auto;*/
    /*background: #f3f3f3;*/
    padding-top: 40px;
    padding-bottom: 40px;
    opacity: 1;
}
.col_daftarPage1{
    padding-right: 50px;
    opacity: 1;
}
.col_daftarPage2{
    padding-left: 75px;
    opacity: 1;
}
h1.ht_daftarPage{
    font-size: 25px;
    color: #000;
    font-weight: 600;
    margin: 0;
    margin-bottom: 40px;
}
.info_daftarPage{
    font-size: 16px;
    color: #000;
    font-weight: 400;
}
.f_daftar{
    font-family: 'Lato', sans-serif;
    margin-bottom: 15px;
}
.f_daftar label{
    font-size: 13px;
    color: #000;
    font-weight: 600;
}
.f_daftar > label{
    display: block;
}
.f_daftar > label span {
    color: red;
}
.txt_daftar{
    background: #fff;
    width: 100%;
    line-height: 35px;
    height: 35px;
    font-size: 13px;
    color: #000;
    border: 1px solid rgba(0,0,0,.1);
    padding-right: 10px;
    padding-left: 10px;
}
.file_daftar{
    background: #fff;
    width: 100%;
    font-size: 13px;
    color: #000;
    border: 1px solid rgba(0,0,0,.1);
    padding: 10px 11px;
}
.area_daftar{
    background: #fff;
    width: 100%;
    line-height: normal;
    height: 65px;
    min-height: 65px;
    resize: vertical;
    font-size: 13px;
    color: #000;
    border: 1px solid rgba(0,0,0,.3);
    padding: 10px;
}
.err_daftar {
    color: #a94442;
}
.success_daftar.clearfix {
    padding: 5px 15px;
    margin-bottom: 15px;
}
.success_daftar.clearfix .text-success:nth-child(2) {
    font-family: monospace;
    font-weight: bolder;
    cursor: pointer;
}
.sel_daftar{
    background: #fff;
    width: 100%;
    line-height: 35px;
    height: 35px;
    font-size: 13px;
    color: #000;
    border: 1px solid rgba(0,0,0,.1);
    padding-right: 10px;
    padding-left: 10px;
}
.bx_radio{
    font-size: 13px;
    color: #000;
    font-weight: 500;
}
.bx_radio label{
    margin-right: 15px;
    font-weight: 500;
}
input[type="radio"].rad_daftar{
    margin-right: 5px;
}
.ht_notfound{
    display: none;
    font-size: 30px;
    color: #333;
    text-align: center;
    margin-top: 50px;
}
.mg_pleasewait{
    display: none;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
.mg_pleasewait img{
    height: 60px;
}
.row_postDetail{
    background: #fff;
}
.ht_htpostDetail{
    font-size: 35px;
    color: #000;
    font-weight: 600;
    line-height: 45px;
    margin-bottom: 30px;
}
.mg_postDetail{
    margin: auto;
    margin-bottom: 15px;
}
.mg_postDetail img{
    width: 100%;
    height: auto;
    margin: auto;
}
.bx_htpost{
    border-right: 1px solid #007E27;
}
.col_rightcat_post{
    text-align: right;
    padding: 0;
}
.sp_rightpost{
    background: #555555;
    font-size: 12px;
    color: #fff;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: -5px;
}
.sp_greenpost{
    background: #007E27;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.bx_contentPost{
    margin-top: 35px;
    font-size: 14px;
    color: #000;
    margin-bottom: 30px;
}
.bx_contentPost p, .bx_contentPost span{
    font-size: 14px;
    color: #000;
}
.bx_contentPost div{
    margin-bottom: 10px;
}
.bx_contentPost iframe{
    max-width: 100%;
}
.bx_contentPost.bx_contentPostPDF p a {
    font-size: 14px;
    color: #000;
    background: url("../images/download.svg") right center no-repeat;
    padding-right: 45px;
}
.bx_commentPost{
    margin-top: 50px;
}
.ht_relatedPost{
    font-size: 26px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}

.commentlist, .clearfix{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #000;
}
ul.children{
    list-style: none;
    font-size: 14px;
    color: #000;
}
.commentlist li{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
ul.children li{
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 0;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}
.comment_time{
    font-size: 12px;
    color: #000;
}
.sin_comment{
    margin-top: 20px;
}
.area_comment{
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 14px;
    color: #000;
    border:1px solid rgba(0,0,0,.2);
}
.p_sub_comment{
    text-align: right;
}
.sub_comment{
    background: #FFCE00 ;
    width: auto;
    line-height: 35px;
    font-size: 15px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    padding-right: 20px;
    padding-left: 20px;
}
.sub_comment:hover {
    transition: .8s;
    -webkit-transition: .8s;
    background-color: #414141;
    color: #FBCC32;
}
.box_f_comment{
    margin-top: 35px;
}

.listBeritaCat{
    list-style: none;
    padding: 0;
    margin: 0;
}
.listBeritaCat li{
    width: 100%;
    min-height: 30px;
    background: #555555;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: .3s;
    -webkit-transition: .3s;
}
.listBeritaCat li a{
    font-size: 12px;
    color: #fff;
    letter-spacing: .3px;
    cursor: pointer;
    transition: .3s;
    -webkit-transition: .3s
}
.listBeritaCat li.act{
    background: #000;
    transition: .3s;
    -webkit-transition: .3s
}
.listBeritaCat li:hover{
    opacity: .8;
    transition: .3s;
    -webkit-transition: .3s
}
.bx_post_video{
    margin-top: 50px;
}
.bx_sm_rubrikCat.detailVideo{
    text-align: left;
    background: transparent;
    padding-left: 10px;
    padding-right: 10px;
}
.date_video{
    font-size: 10px;
    color: #333;
    line-height: normal;
}
.date_title{
    font-size: 13px;
    color: #333;
    font-weight: 600;
    height: 50px;
    line-height: normal;
}
#searchform {
    margin-bottom: 35px;
}
.row_publikasiPage h1.ht_homeRubrik{
    color: #000000;
    letter-spacing: normal;
    margin-bottom: 0;
    text-align: center;
    font-size: 28px;
}
.row_publikasiPage h2.ht_homeRubrik{
    color: #000000;
    letter-spacing: normal;
    margin-bottom: 0;
    text-align: center;
    font-size: 40px;
}
.row_publikasiPage .listPublikasi a {
    display: block;
}
.row_publikasiPage .ht_sm_listPublikasi {
    font-size: 16px;
    color: #007E27;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
}
.row_publikasiPage .author_listPublikasi {
    font-size: 12px;
    margin: 0px 0px 5px 0px;
    color: #414141;
}
.row_publikasiPage .thn_listPublikasi {
    font-size: 12px;
    margin: 0px 0px 0px 0px;
    color: #414141;
}
.row_publikasiPage .bxsm_listRubrik:hover{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.row_publikasiPage .col_v_listRubrik {
    /* margin-top: 20px;
    margin-bottom: 0px; */
    border-top: 1px solid #ccc;
    padding: 25px 0px 0px 0px;
    margin: 0px 0px 25px 0px;
}
.row_publikasiPage .col_v_listRubrik:nth-child(1) {
    padding-top: 0px;
    border-top: 0px;
}
.row_publikasiPage .box_v_listRubrik {
    background-color: #ffffff;
    padding: 25px 20px;
}
.row_publikasiPage .tipe_listPublikasi .pull-left {
    margin-left: 10px;
    background-color: #555555;
    border-radius: 9px;
    color: #ffffff;
    font-size: 10px;
    padding: 3px 10px;
    margin-bottom: 9px;
}
.row_publikasiPage .tipe_listPublikasi .pull-left:nth-child(1) {
    margin-left: 0px;
}
.row_publikasiPage .txt_title {
    margin-bottom: 3px;
    font-size: 12px;
}
.row_publikasiPage .hd_filter {
    color: #000000;
    font-weight: bold;
    font-size: 19px;
    margin: 0px 0px 15px 0px;
}
.row_publikasiPage .dd_Filter {
    padding-right: 0px;
}
.row_publikasiPage .dd_Filter select {
    width: 100%;
    height: 44px;
    padding: 10px;
}
.row_publikasiPage .dd_Filter .select2-container {
    width: 100% !important;
}
.row_publikasiPage .dd_Filter .select2-container--default .select2-selection--single {
    background-color: #555555;
    height: auto;
    border: 0px;
    border-radius: 0px;
}
.row_publikasiPage .dd_Filter .select2-container .select2-selection--single .select2-selection__rendered {
    color: #ffffff;
    padding: 8px 20px 7px 13px;
}
.row_publikasiPage .dd_Filter .select2-container--default .select2-selection--single .select2-selection__arrow {
    background: url(../images/arrow-down-white.svg) no-repeat center;
    top: 7px;
    right: 10px;
}
.row_publikasiPage .dd_Filter .select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}
.row_publikasiPage .submit_Publikasi {
    padding-left: 0px;
}
.row_publikasiPage .submit_Publikasi button {
    background: #007E27;
    padding: 5px;
    border: 0px;
    width: 100%;
}
.row_publikasiPage .submit_Publikasi img {
    width: 40%;
}
.row_publikasiPage .search_Publikasi {
    padding: 0px;
}
.row_publikasiPage .search_Publikasi input {
    background: #ffffff;
    padding: 11px;
    border: 0px;
    width: 100%;
}
.row_publikasiPage .hd_search {
    margin-top: 40px;
    color: #414141;
    font-size: 18px;
    font-weight: normal;
}
.filter_tahunPublikasi .thn > div {
    border: 2px solid #F2F2F2;
    border-radius: 7px;
    padding: 2px 7px;
    margin-bottom: 9px;
}
.filter_tipePublikasi {
    margin-top: 30px;
}
.filter_tipePublikasi .clearfix {
    margin: 0px -7px;
}
.filter_tipePublikasi .clearfix > .tipe-publikasi {
    background-color: #000000;
    cursor: pointer;
    transition: .3s;
    -webkit-transition: .3s;
    font-size: 12px;
    color: #fff;
    padding: 5px 12px;
    margin-left: 7px;
    margin-bottom: 7px;
    display: block;
}
/* .filter_tipePublikasi .clearfix > .tipe-publikasi:nth-child(1) {
    margin-left: 0p  x;
} */
.filter_tipePublikasi .clearfix > .tipe-publikasi.active {
    background-color: #555555;
}
.filter_tipePublikasi .clearfix > .tipe-publikasi:hover {
    opacity: .8;
    transition: .3s;
    -webkit-transition: .3s;
}
.filter_tipePublikasi .clearfix > .tipe-publikasi input {
    display: none;
}

#filterTahunPublikasi {
    margin-left: 7px;
    margin-right: 7px;
    background-color: #F2F2F2;
    height: 7px;
    border-radius: 0px;
    border: 0px;
}
#filterTahunPublikasi .ui-slider-handle {
    top: -4px;
    height: 15px;
    width: 14px;
    background-color: #555555;
    /* -webkit-box-shadow: 0px 3px 6px 0px #000029;
    -moz-box-shadow: 0px 3px 6px 0px #000029;
    box-shadow: 0px 3px 6px 0px #000029; */
    border: 0px;
    border-radius: 0px;
    outline: none;
}
#filterTahunPublikasi .ui-slider-handle:active {
    border: 0px;
}
#filterTahunPublikasi .ui-slider-range {
    background-color: #000000;
}

#filterTahunPublikasiMobile {
    margin-left: 7px;
    margin-right: 7px;
    background-color: #F2F2F2;
    height: 7px;
    border-radius: 0px;
    border: 0px;
}
#filterTahunPublikasiMobile .ui-slider-handle {
    top: -4px;
    height: 15px;
    width: 14px;
    background-color: #555555;
    /* -webkit-box-shadow: 0px 3px 6px 0px #000029;
    -moz-box-shadow: 0px 3px 6px 0px #000029;
    box-shadow: 0px 3px 6px 0px #000029; */
    border: 0px;
    border-radius: 0px;
    outline: none;
}
#filterTahunPublikasiMobile .ui-slider-handle:active {
    border: 0px;
}
#filterTahunPublikasiMobile .ui-slider-range {
    background-color: #000000;
}

.wrap_mediaHighlight {
    padding-right: 10px;
    padding-left: 0;
}
.media_highlightWrapper {
    display: block;
}
.media_highlightWrapper h5 {
    font-weight: bold;
    font-size: 23px;
    color: #000000;
    margin: 15px 0px 10px 0px;
}
.media_highlightWrapper p {
    font-size: 14px;
    color: #000000;
    margin: 0px;
}
.media_highlight {
    height: 410px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.media_highlight:hover{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    transition: .7s;
    -webkit-transition: .7s;
    background-color: #ffffff;
}
.media_highlight img {
    max-width: 130%;
}
.media_highlight iframe,
.media_highlight video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.media_highlight .iconplay img {
    width: 85px;
}
.wrap_mediaHighlightSmall {
    padding-left: 0;
}
.media_highlightSmall {
    position: relative;
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
}
.media_highlightSmall:hover{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    transition: .7s;
    -webkit-transition: .7s;
    background-color: #ffffff;
}
.wrap_mediaHighlightSmallThumb {
    padding-left: 0;
    padding-right: 10px;
    position: relative;
}
.wrap_mediaHighlightSmallThumb .iconplay img,
.wrap_mediaVideoThumb .iconplay img {
    width: 35px;
}
.media_highlightSmallThumb {
    display: flex;
    height: 118px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.media_highlightSmallThumb img {
    width: 100%;
}
.media_highlightSmallTxt {
    padding: 10px 10px 10px 0px;
}
.media_highlightSmallTxt p {
    font-size: 10px;
    margin: 4px 0px 0px 0px;
    color: #333;
}
.media_highlightSmallTxt h5 {
    color: #000000;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
}
.wrap_mediaKategori {
    margin-top: 60px;
}
.wrap_mediaKategoriTitle {
    /*display: flex;*/
    /*justify-content: space-between;*/
    margin-bottom: 18px;
}
.media_kategoriTitle {
    color: #006A39;
    font-size: 28px;
    font-weight: bold;
    margin: 0px;
    float: left;
}
.media_kategoriTitle .ht_homeRubrik {
    margin-top: 0px;
}
.btn_mediaKategori {
    background-color: #FBCC32;
    color: #414141;
    font-size: 14px;
    padding: 6px 20px;
    cursor: pointer;
    display: block;
    float: right;
    margin-top: 12px;
}
.btn_mediaKategori:hover {
    transition: .8s;
    -webkit-transition: .8s;
    background-color: #414141;
    color: #FBCC32;
}
.media_video {
    cursor: pointer;
    padding-left: 10px;
    padding-right: 0px;
    margin-bottom: 10px;
}
.media_video:first-child {
    padding-left: 0px;
}
.wrap_mediaVideoArchive {
    margin-bottom: 10px;
    margin-left: -5px;
}
.wrap_mediaVideoArchive .media_video:first-child {
    padding-left: 10px;
}
.wrap_videoList:hover{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    transition: .7s;
    -webkit-transition: .7s;
    background-color: #ffffff;
}
.wrap_mediaVideoThumb {
    position: relative;
}
.media_videoThumb {
    display: flex;
    height: 160px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.media_videoThumb img {
    max-height: 130%;
}
.media_videoTxt {
    padding: 10px 10px 10px 10px;
}
.media_videoTxt p {
    font-size: 10px;
    margin: 3px 0px 0px 0px;
    color: #333;
}
.media_videoTxt h5 {
    color: #000000;
    font-size: 14px;
    height: 32px;
    margin: 0;
}
.ht_rekomandasiVideo {
    color: #006A39;
    margin-top: 0px;
    margin-bottom: 15px;
}
.wrap_progImg {
    padding-left: 0;
    padding-right: 10px;
}
.wrap_progList {
    margin-bottom: 25px;
    display: block;
}
.prog_img {
    display: flex;
    height: 280px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.wrap_progTxt {
    position: relative;
    padding-right: 0;
    padding-left: 10px;
}
.prog_cat {
    position: absolute;
    left: -65px;
    top: 13px;
    background-color: #007E27;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    z-index: 1;
    padding: 5px 30px;
}
.prog_date {
    margin-bottom: 20px;
}
.prog_title {
    color: #434343;
    font-size: 16px;
    font-weight: bold;
    margin: 60px 0px 0px 0px;
    display: block;
    cursor: pointer;
}
.prog_excerpt {
    color: #434343;
    font-size: 12px;
    line-height: 1.6;
}
#kepengurusan {
    background-color: #ffffff;
    border-top: 4px solid #707070;
}
.ht_kepengurusanTitle {
    color: #414141;
    text-align: center;
    font-size: 43px;
    font-weight: bold;
}
.ht_kepengurusanDescription {
    color: #414141;
    text-align: center;
    font-size: 14px;
    width: 60%;
    margin: 15px auto 55px auto;
}
.breadcrumb_kepengurusan {
    margin-bottom: 30px;
    color: #434343;
    font-weight: bold;
    font-size: 14px;
}
.breadcrumb_kepengurusan a {
    color: #434343;
}
.breadcrumb_kepengurusan a:hover,
.breadcrumb_kepengurusan a.active {
    color: #007E27;
}
.breadcrumb_kepengurusan span {
    margin: 0px 3px;
}
.wrap_posisiKepengurusan {
    margin-bottom: 15px;
}
.posisiKepengurusan {
    border: 1px solid #DDDDDD;
    padding: 10px 10px 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.posisiKepengurusan .text {
    color: #434343;
    font-size: 18px;
    font-weight: 500;
}
.posisiKepengurusan.last .text {
    text-decoration: underline;
}
.posisiKepengurusan .arrow {
    background-color: #555555;
    padding: 5px 8px;
}
.posisiKepengurusan .arrow.last {
    background-color: #006714;
}
.posisiKepengurusan .arrow img {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 15px;
}
.posisiKepengurusan .arrow.last img {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.profileKepengurusan {
    border: 1px solid #DDDDDD;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #F2F2F2;
}
.profileKepengurusan .foto {
    display: flex;
    width: 26%;
    height: 95px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.profileKepengurusan .foto img {
    max-width: 130%;
}
.profileKepengurusan .foto.empty img {
    width: 100%;
}
.profileKepengurusan .nama {
    width: 70%;
}
.profileKepengurusan .nama h6 {
    margin: 0px 0px 3px 0px;
    font-weight: 500;
    font-size: 17px;
}
.profileKepengurusan .nama p {
    margin: 0px;
    font-size: 13px;
}
.wrap_posisiUtama {
    padding: 0px;
}
.wrap_subPosisi {
    padding: 0px 0px 0px 10px;
}
.wrap_subPosisiKepengurusan {
    padding-right: 5px;
    padding-left: 0px;
}
.wrap_profileKepengurusan div[class^="col"] {
    padding: 0px 0px 0px 5px;
}
.wrap_profileKepengurusan div[class^="col"].first {
    padding-left: 0px;
    padding-right: 5px;
}
.wrap_profileKepengurusanNoSub div[class^="col"] {
    padding: 0px 0px 0px 10px;
}
.wrap_profileKepengurusanNoSub div[class^="col"].first {
    padding: 0px;
}
.newwrap_posisiKepengurusan {
    margin-bottom: 30px;
}
.title_posisiKepengurusan {
    position: relative;
    background-color: #E3E3E3;
    padding: 35px 10px 35px 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.title_posisiKepengurusan div {
    position: absolute;
    left: -20px;
    top: 14px;
    background-color: #007E27;
    padding: 10px 50px;
    color: #ffffff;
    width: 275px;
}
.newwrap_subPosisiKepengurusan {
    background-color: rgb(248, 248, 248);
    margin: 0px 20px;
}
.wrap_newProfileKepengurusan,
.newwrap_subPengurus .newProfileKepengurusan,
.newwrap_subPengurus_mobile .newProfileKepengurusan {
    border-top: 1px solid #ddd;
}
.wrap_newProfileKepengurusan:first-child {
    border: 0px;
}
.newProfileKepengurusan {
    /* padding: 20px 35px; */
    height: 145px;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
}
.newProfileKepengurusan .foto {
    display: flex;
    width: 105px;
    height: 105px;
    float: left;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 20px 35px;
}
.newProfileKepengurusan .foto img {
    max-width: 130%;
}
.newProfileKepengurusan .foto.empty img {
    width: 100%;
}
.newProfileKepengurusan .nama {
    width: 66%;
    float: left;
    margin-left: 55px;
    height: 100%;
    display: flex;
    align-items: center;
}
.newProfileKepengurusan .nama h6 {
    margin: 0px 0px 3px 0px;
    font-weight: 500;
    font-size: 17px;
}
.newProfileKepengurusan .nama p {
    margin: 0px;
    font-size: 13px;
}
.newProfileKepengurusan .selengkapnya {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    float: right;
    width: 190px;
    height: 100%;
}
.newwrap_subPengurus .newProfileKepengurusan,
.newwrap_subPengurus_mobile .newProfileKepengurusan {
    padding-left: 0px;
}
.newwrap_subPengurus,
.newwrap_subPengurus_mobile {
    padding-left: 170px;
    display: none;
}
.btn_kepengurusan,
.btn_kepengurusan_mobile {
    cursor: pointer;
    background-color: #F2F2F2;
    text-align: center;
    padding: 10px;
}
.btn_kepengurusan.inactive,
.btn_kepengurusan_mobile.inactive {
    color: #007E27;
}
.btn_kepengurusan.inactive span,
.btn_kepengurusan_mobile.inactive span {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    display: inline-block;
    margin-left: 5px;
}
.btn_kepengurusan.active,
.btn_kepengurusan_mobile.active {
    color: #414141;
}
.btn_kepengurusan.active span,
.btn_kepengurusan_mobile.active span {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    display: inline-block;
    margin-left: 5px;
}
.btn_detailKepengurusan {
    display: block;
    text-align: center;
    padding: 20px 10px;
    background-color: #F4F4F4;
    color: #007E27;
    margin-left: 20px;
    margin-right: 20px;
}
.btn_detailKepengurusan:hover {
    transition: .8s;
    -webkit-transition: .8s;
    color: #414141;
}
.box_btnKepengurusan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.box_btnKepengurusan .btn_yellow {
    font-size: 13px;
    text-align: center;
    padding: 5px 15px;
}
#bnr_tokoh {
    background-size: cover;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 450px;
    background-position: right center;
    padding: 50px 98px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.bnr_tokohTitle h4 {
    color: #ffffff;
    font-size: 45px;
    font-weight: normal;
    margin-top: 0px;
}
.bnr_tokohTitle h5 {
    color: #ffffff;
    font-weight: normal;
    font-style: italic;
    margin-top: 30px;
    font-size: 14px;
}
#wrap_load_tokoh > .row {
    padding: 30px 0px;
    border-bottom: 1px solid #dddddd;
    height: 486px;
}
.wrap_tkhFoto {
    padding-left: 0px;
}
.tkh_foto {
    height: 425px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.tkh_foto img {
    max-height: 120%;
}
.wrap_tkhProfile {
    padding-right: 0px;
    position: relative;
    height: 100%;
}
.tkh_nama {
    margin-top: 0px;
    font-size: 21px;
    color: #434343;
}
.tkh_jabatan {
    margin-top: 0px;
    font-size: 14px;
    color: #ffffff;
    background-color: #007E27;
    padding: 3px 14px;
    display: inline-block;
    margin-bottom: 21px;
}
.tkh_namaLengkap,
.tkh_ttl {
    margin-top: 0px;
    margin-bottom: 3px;
}
.tkh_cuplikan {
    margin-top: 20px;
}
.tkh_btn {
    position: absolute;
    bottom: 0;
    right: 0;
}
.tkh_profileTitle {
    margin-bottom: 0px;
    margin-top: 40px;
    font-size: 30px;
    font-weight: bold;
}
.tkh_profileJabatan {
    margin-bottom: 0px;
    margin-top: 15px;
    display: inline-block;
    font-size: 18px;
    color: #ffffff;
    background-color: #007E27;
    padding: 9px 20px;
    font-weight: normal;
}
.profile_tkh {
    margin-top: 30px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #F4F4F4;
}
.profile_tkh .foto {
    overflow: hidden;
    width: 270px;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
.profile_tkh .foto img {
    max-height: 120%;
}
.profile_tkh .biodata {
    width: 72%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconplay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
}
.iconplay img {
    width: 85px;
}
.wrap_videoAttachment {
    height: 468px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: -25px; */
}
.wrap_videoAttachment iframe,
.wrap_videoAttachment video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




/*article*/
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #ffffff;
	line-height: 28px;
	background-color: #000000;
	font-size: 11px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #555555;
	color: white;
}
.select2-container--default .select2-results__option[aria-selected=true] {
	background-color: #555555;
	color: white;
}
.select2-container--default .select2-results>.select2-results__options {
	max-height: 200px;
	overflow-y: auto;
	background-color: #ffffff;
	color: #000000;
	font-size: 11px;
}
.col_padding_10 {
    padding-right: 10px;
    padding-left: 10px;
}
.col_padding_0 {
    padding-right: 0px;
    padding-left: 0px;
}
.col_paddingLeft_0 {
    padding-left: 0px;
}
.col_paddingRight_0 {
    padding-right: 0px;
}
.row_article {
    margin-top: 30px;
    margin-left: -10px;
    margin-right: -10px;
}
.row_articleTitle {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
}
.row_articleTitleContent {
    padding-left: 7px;
}
.row_articleCategories {
    /* padding-left: 0px; */
    padding-right: 0px;
}
.col_article {
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 20px;
}
.list_article {
    background: #fff;
    transition: .3s;
    -webkit-transition: .3s;
}
.list_article:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    transition: .3s;
    -webkit-transition: .3s
}
.article_shortContent {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px 20px 0px;
}
.left_articleShortContent {
    width: 190px;
    height: 148px;
}
.left_articleShortContent .imgArticle {
    height: 148px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left_articleShortContent .imgArticle img {
    max-height: 120%;
}
.right_articleShortContent {
    width: 190px;
    height: 148px;
}
.right_articleShortContent .titleArticle{
    height: 45px;
    font-size: 12px;
    color: #000;
    font-weight: 600;
    margin: 0;
}
.right_articleShortContent .shortDescription {
    font-size: 10px;
    color: 000;
    font-weight: 400;
}
.right_articleShortContent .linkDetail {
    font-size: 11px;
    color: #007E27;
    text-align: right;
    margin-bottom: 0px;
    margin-top: 15px;
}
.right_articleShortContent .linkDetail a {
    color: inherit;
}
.article_categoryName .l_cat {
    background-color: #757575;
    padding: 5px 10px;
    float: left;
    display: block;
    color: #ffffff;
    font-size: 10px;
}
.article_categoryName .r_cat {
    background-color: #007E27;
    padding: 5px 10px;
    float: right;
    display: block;
    color: #ffffff;
    font-size: 10px;
}
.row_archiveArticle .left_articleShortContent {
    width: 150px;
}
.row_archiveArticle .right_articleShortContent {
    width: 175px;
}
/*article*/

.ik {
    display: block;
}
.ik img {
    width: 100%;
}
.ik-top {
    margin: 30px 0px 10px 0px;
}
.ik-right {
    margin: 50px 0px 0px 0px;
}
.ik-bottom {
    margin: 50px 0px 0px 0px;
}
.ik_program {
    margin-bottom: 30px;;
}
.col_homeTopSmallBanner {
    margin: 0px auto 55px auto;
    width: 75%;
}
.col_homeBottomSmallBanner {
    margin: 0px auto 15px auto;
    width: 75%;
}
.opini_date .l_cat {
    width: 70%;
}
.opini_date .r_cat {
    width: 30%;
    text-align: right;
}

.row_artikelPopuler {
    margin-bottom: 40px;
}
.listBeritaPopuler {
    background-color: #ffffff;
    padding: 0px;
}
.listBeritaPopuler li {
    list-style-type: none;
    display: block;
    padding: 10px;
    border-top: 1px solid #DDDDDD;
}
.listBeritaPopuler li:first-child {
    border-top: 0px;
}
.listBeritaPopuler li:first-child a span:first-child {
    background-color: #007E27;
}
.listBeritaPopuler li a {
    display: block;
}
.listBeritaPopuler li a span:first-child {
    padding: 8px 15px;
    color: #ffffff;
    background-color: #707070;
    float: left;
    font-size: 12px;
}
.listBeritaPopuler li a span + span {
    float: right;
    width: 190px;
    font-size: 12px;
}
.listBeritaPopuler li a:hover span + span {
    color: #007E27;
}
.listBeritaPopuler.listBeritaPopulerRight li a span + span {
    width: 290px;
}
.list_pendidikan {
    margin-top: 10px;
}
.gelar_pendidikan label {
    display: block;
}
.gelar_pendidikan .tahun_kelulusan input {
    width: 52px;
}
.gelar_pendidikan .btn_addremove {
    padding-top: 11px;
}
.gelar_pendidikan .btn_addremove a {
    display: block;
    text-align: center;
    font-size: 11px;
    cursor: pointer;
    padding: 3px 0px;
    text-transform: lowercase;
}
.gelar_pendidikan .btn_addremove a.btn_yellow {
    margin-bottom: 3px;
}

.list_organisasi {
    margin-top: 10px;
}
.pengalaman_organisasi label {
    display: block;
}
.pengalaman_organisasi .tahun_kelulusan input {
    width: 52px;
}
.pengalaman_organisasi .btn_addremove {
    padding-top: 11px;
}
.pengalaman_organisasi .btn_addremove a {
    display: block;
    text-align: center;
    font-size: 11px;
    cursor: pointer;
    padding: 3px 0px;
    text-transform: lowercase;
}
.pengalaman_organisasi .btn_addremove a.btn_yellow {
    margin-bottom: 3px;
}

.list_link_referensi_publikasi {
    margin-top: 10px;
}
.link_referensi_publikasi .btn_addremove a {
    display: block;
    text-align: center;
    font-size: 11px;
    cursor: pointer;
    padding: 3px 0px;
    text-transform: lowercase;
}
.link_referensi_publikasi .btn_addremove a.btn_yellow {
    margin-bottom: 3px;
}

/* slider photo media desktop */
.outerFoto {
	margin-bottom: 85px;
}
#bigFoto {
    padding: 0px 55px;
}
#bigFoto .item {
	text-align: center;
	width: 100%;
	height: 540px;
    overflow: hidden;
    position: relative;
}
#bigFoto .item > div {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 540px;
	overflow: hidden;
}
#bigFoto .item > div img {
	max-width: 120%;
}
#bigFoto .item > h4 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgb(0, 0, 0, 0.8);
    margin: 0px;
    padding: 15px 20px;
    text-align: left;
    color: #ffffff;
    font-size: 15px;
    font-weight: normal
}
#bigFoto.owl-theme .owl-next,
#bigFoto.owl-theme .owl-prev {
    background: #006A39;
    position: absolute;
    text-align: center;
    top: 50%;
    border-radius: 0px;
    padding: 16px 7px 15px 4px !important;
    margin: 0px;
}
#bigFoto.owl-theme .owl-next > div,
#bigFoto.owl-theme .owl-prev > div {
    width: 30px;
    height: 10px;
    background: url('../images/arrow_right.svg') no-repeat center;
}
#bigFoto.owl-theme .owl-prev {
    left: 0px;
}
#bigFoto.owl-theme .owl-prev > div {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
#bigFoto.owl-theme .owl-next {
	right: 0px;
}
#bigFoto.owl-theme .owl-next > div {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
#thumbsFoto .item {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 87px;
	overflow: hidden;
	cursor: pointer;
}
#thumbsFoto .item img {
	max-width: 120%;
}
/* slider photo media desktop */

/* slider photo media mobile */
#bigFotoMobile .item {
	text-align: center;
	width: 100%;
	height: 210px;
    overflow: hidden;
    position: relative;
}
#bigFotoMobile .item > div {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 210px;
	overflow: hidden;
}
#bigFotoMobile .item > div img {
	max-width: 120%;
}
#bigFotoMobile .item > h4 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgb(0, 0, 0, 0.8);
    margin: 0px;
    padding: 10px 15px;
    text-align: left;
    color: #ffffff;
    font-size: 11px;
    font-weight: normal
}
#bigFotoMobile.owl-theme .owl-next,
#bigFotoMobile.owl-theme .owl-prev {
    background: #006A39;
    position: absolute;
    text-align: center;
    top: 50%;
    border-radius: 0px;
    padding: 11px 7px 11px 7px !important;
    margin: 0px;
}
#bigFotoMobile.owl-theme .owl-next > div,
#bigFotoMobile.owl-theme .owl-prev > div {
    width: 15px;
    height: 8px;
    background: url('../images/arrow_right.svg') no-repeat center;
    background-size: contain;
}
#bigFotoMobile.owl-theme .owl-prev {
    left: -15px;
}
#bigFotoMobile.owl-theme .owl-prev > div {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
#bigFotoMobile.owl-theme .owl-next {
	right: -15px;
}
#bigFotoMobile.owl-theme .owl-next > div {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
#thumbsFotoMobile .item {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 45px;
	overflow: hidden;
	cursor: pointer;
}
#thumbsFotoMobile .item img {
	max-width: 120%;
}
/* slider photo media mobile */

/*rapiin jquery ui*/
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    /* border: 1px solid #e9e9e9; */
    cursor: pointer;
    top: 2px;
}
.ui-datepicker .ui-datepicker-prev {
    left: 1px;
}
.ui-datepicker .ui-datepicker-next {
    right: 1px;
}
.ui-datepicker .ui-datepicker-current-day .ui-state-active {
    border: 1px solid #007E27;
    background: #03a334;
}
/*rapiin jquery ui*/


/* ============ mobile view start ============ */
h2.mobileTitle {
    font-size: 40px;
    color: #fff;
    font-weight: 600;
    letter-spacing: .3px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
h2.mobileTitleGreen {
    color: #007E27;
    letter-spacing: normal;
    margin-bottom: 0;
}
.mobileSubTitle {
    font-size: 18px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}

.header_mobile {
    padding: 0px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.5);
    position: fixed;
    z-index: 99999;
    width: 100%;
}
.header_mobile > .row {
    display: flex;
    align-items: center;
}
.header_mobile > .row div[class^="col"] {
    float: none;
}
.mobile_topLogo {
    margin-top: 10px;
    margin-bottom: 10px;
}
.mobile_topLogo img {
    width: 100%;
    height: auto;
}
.mobile_topMenu {
    display: block;
    list-style: none;
    padding: 15px 20px 15px 20px;
    margin: 0;
    position: absolute;
    /* top: 80px; */
    z-index: 9;
    background-color: #ffffff;
    right: -100%;
    /* width: 255px; */
}
.mobile_topMenu li {
    text-align: right;
    line-height: 30px;
    padding: 0px 0px 0px 70px;
    transition: .3s;
    -webkit-transition: .3s
}
.mobile_topMenu li.btn_mobileTopLogout {
    border-top: 1px solid #DDDDDD;
    margin-top: 10px;
    padding-top: 10px;
}
.mobile_topMenu li a {
    font-size: 14px;
    color: #000;
    font-weight: normal;
    letter-spacing: .3px;
    transition: .3s;
    -webkit-transition: .3s;
    display: block;
}
.mobile_topMenu li.act a {
    font-weight: 600;
}
.mobile_topMenu li:hover > a,
.mobile_topMenu li.active > a {
    font-weight: 600;
    transition: .3s;
    -webkit-transition: .3s
}
.mobile_topMenu li.btn_mobileTopLogout a {
    display: inline-block;
    font-weight: 800;
}
.mobile_topMenu li.btn_mobileTopLogout img {
    margin-right: 7px;
    width: 12px;
    display: inline-block;
    margin-top: -3px;
}
.col_mobile_topRightMenu {
    float: right;
    text-align: right;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.btn_mobileTop span {
    font-size: 13px;
    margin-top: 6px;
    margin-right: 10px;
    float: right;
}
.btn_mobileTop span a {
    color: #007E27;
}
.btn_mobileTop button {
    cursor: pointer;
    padding: 0px;
    border: 0px;
    background-color: #ffffff;
    float: right;
}
.btn_mobileTop button img {
    width: 30px;
}
.row_mobileHomepage {
    position: relative;
    height: 490px;
}
.mobile_homeBanner {
    height: 490px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.mobile_homeBanner img {
    max-height: 120%;
}
.mobile_contentBanner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px 30px;
    background-color: rgba(0,0,0,0.4);
}
.row_mobileMimpi {
    /* background: url(../images/back_black.jpg) repeat; */
    background-color: #000000;
    padding: 70px 0px 145px 0px;
    position: relative;
    display: none;
}
.mobile_mimpiTitle {
    margin: 0;
    text-transform: none;
    font-size: 35px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .3px;
    margin-bottom: 20px;
}
.mobile_mimpiDesc {
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    letter-spacing: .3px;
}
.box_mobileListMimpi {
    font-family: 'Lato', sans-serif;
    background: #fff;
    padding: 30px;
    text-align: center;
}
.box_mobileListMimpi .imgMobileListMimpi {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.box_mobileListMimpi .imgMobileListMimpi img{
    height: auto !important;
    width: auto !important;
}
.box_mobileListMimpi .titleMobileListMimpi {
    font-weight: bold;
    color: #000000;
    margin: 18px 0px;
}
.box_mobileListMimpi .descMobileListMimpi {
    height: 70px;
}
.row_mobileBergabungHome{
    position: absolute;
    width: 100%;
    bottom: -10%;
    z-index: 999;
}
.col_mobileBergabungHome {
    margin: 0px auto;
    width: 84%;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
    padding: 25px 25px;
}
.col_mobileBergabungHome > div:first-child {
    width: 100%;
    text-align: center;
}
.btn_mobileBergabung {
    background: #FBCC32;
    width: auto;
    line-height: 35px;
    font-size: 12px;
    color: #000000;
    font-weight: 400;
    text-align: center;
    border: 0;
    padding-right: 15px;
    padding-left: 15px;
}
.btn_mobileBergabung:hover {
    transition: .8s;
    -webkit-transition: .8s;
    background-color: #414141;
    color: #FBCC32;
}
#slide_rubrikMobile {
    margin-top: 30px;
}
.row_mobileHomeRubrik {
    background: #EEEEEE;
    height: auto;
    /* padding: 65px 30px 0px 30px; */
    padding: 0px 30px 0px 30px;
}
.row_mobileHomeRubrik .col_homeTopSmallBanner {
    width: 100%;
    /* margin: 0px auto 40px auto; */
    margin: 0px auto 20px auto;
}
.row_mobileHomeRubrik .col_homeTopSmallBanner .ik-top {
    /* margin: 60px 0px 10px 0px; */
    margin: 20px 0px 10px 0px;
}
.row_mobileHomeRubrik .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px !important;
}
/* .row_mobileHomeRubrik.row_mobileHomeRubrikTop {
    padding-bottom: 0px;
} */
.col_mobileHomeSlideBerita .box_rubrikCategory {
    position: absolute;
    margin-left: 0px;
    padding: 10px 12px 10px 30px;
    width: auto;
    background: #007E27;
    font-size: 9px;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    right: 0px;
    top: 15px;
    z-index: 9;
}
.col_mobileHomeSlideBerita .mg_rubrik {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #ffffff;
}
.col_mobileHomeSlideBerita .mg_rubrik img {
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    max-height: none;
}
.col_mobileHomeSlideBerita .a_nextRubrik {
    float: none;
    text-align: right;
    margin: 20px 0px 0px 0px;
}
.col_mobileHomeSlideBerita .a_nextRubrik a {
    font-size: 12px;
    color: #007E27;
}
.col_mobileHomeSlideBerita .box_rubrikContent {
    background-color: #ffffff;
    padding: 20px;
}
.col_mobileHomeSlideBerita .box_rubrikContent .ht_rubrikPost {
    margin: 0px 0px 15px 0px;
    height: auto;
}
.row_mobileHomeRubrik .ik-right {
    margin-bottom: 50px;
    margin-top: 40px;
}
.col_mobileListHomeBerita {
    background: #ffffff;
    transition: .3s;
    -webkit-transition: .3s;
    margin-bottom: 25px;
}
.col_mobileListHomeBerita:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    transition: .3s;
    -webkit-transition: .3s
}
.mobileListHomeBerita {
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    height: 185px;
}
.left_mobileListHomeBerita {
    width: 30%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.left_mobileListHomeBerita img {
    width: 120%;
}
.right_mobileListHomeBerita {
    width: 70%;
    padding: 20px;
    position: relative;
}
.right_mobileListHomeBerita .mobileTitleListRubrik {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    margin: 0px 0px 12px 0px;
}
.right_mobileListHomeBerita .a_nextRubrik {
    font-size: 11px;
    color: #007E27;
    float: none;
    margin-top: 15px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.row_mobileVdeoHome {
    background: #555555;
    padding: 40px 30px 40px 30px;
    margin-top: 30px;
}
.row_mobileVdeoHome .mg_bigvideo, 
.row_mobileVdeoHome h3.ht_videoisnu, 
.row_mobileVdeoHome .info_videoisnu {
    max-width: 100%;
    width: 100%;
}
.row_mobileVdeoHome .info_videoisnu {
    margin-bottom: 30px;
}
.row_mobileVdeoHome h3.ht_videoisnu {
    font-size: 17px;
}
.row_mobileVdeoHome .info_videoisnu {
    font-size: 11px;
}
.wrap_daftarisnu {
    display: flex;
    justify-content: center;
}
.row_mobileVdeoHome .a_daftarNU {
    float: none;
}
.medsos_menuFooter {
    margin-bottom: 10px;
}
.row_mobileFooter {
    background: #EEEEEE;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-box-shadow: inset 0px 0px 10px 3px #00000029;
    -moz-box-shadow:inset 0px 0px 10px 3px #00000029;
    box-shadow: inset 0px 0px 10px 3px #00000029;
    margin-left: -10px;
    margin-right: -10px;
}
.row_mobileFooter .col_menuFooter .row + .row {
    margin-top: 25px;
}
.row_mobileFooter .mg_footerLogo img {
    height: auto;
    width: 100%;
}
.col_medsosMenuFooter {
    margin-top: 25px;
}
.col_medsosMenuFooter p {
    font-size: 11px;
}
.box_mobileListPublikasi {
    margin-top: 30px;
}
.col_mobileCategories .select2-container {
	width: 100% !important;
}
.col_tokohList {
    margin-bottom: 40px;
}
/* ============ mobile view end ============ */


/**
 *
 * Tutorial:
 * padding: top left bottom right;
 * margin: top left bottom right;
 * border-width: top left bottom right;
 * 
    @media (min-width: 576px) {
        .container {
            max-width: 100vw;
        }
    }
    @media (min-width: 768px) {
        .container {
            max-width: 720px;
        }
    }
    @media (min-width: 992px) {
        .container {
            max-width: 960px;
        }
    }
    @media (min-width: 1200px) {
        .container {
            max-width: 1140px;
        }
    }
 */
/* =========== for responsive mobile ============*/
.desktop-template {
    display: none;
}
.mobile-template {
    display: block;
}
.wrap_utama_mobile {
    padding-top: 80px;
}
@media (min-width: 768px) {
    .desktop-template {
        display: block;
    }
    .mobile-template {
        display: none;
    }
    .mg_sm_rubrik img{
        width: 100%;
    }
    .prog_img img {
        max-height: 120%;
    }
}

@media (min-width:1080px) {
    #container{
        width: 100%;
        max-width: 100%;
    }
}
@media (max-width:1080px) {
    #container{
        width: 1440px;
    }
}
@media only screen and (max-width:769px) {
	/* code here only for < max-width 769px */
}

@media (max-width: 768px) {
    #container{
        width: 100%;
    }
    .pt_copyright {
        font-size: 10px;
    }
    h1.ht_home {
        font-size: 25px;
    }
    h2.mobileTitle {
        font-size: 30px;
    }
    h2.ht_home {
        font-size: 27px;
    }
    .mobileSubTitle {
        font-size: 15px;
    }
    .ht_bergabung {
        font-size: 14px;
        color: #000;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .info_bergabung{
        font-size: 11px;
        color: #000;
        margin-bottom: 14px;
    }
    h1.ht_homeBanner {
        line-height: 28px;
        font-size: 25px;
    }
    .info_homeBanner {
        font-size: 12px;
    }
    .btn_homeBanner {
        font-size: 12px;
    }
    .ht_quotesTokoh {
        font-size: 19px;
        margin-bottom: 12px;
    }
    .cont_quotes {
        font-size: 12px;
    }
    .mg_bigvideo {
        height: 185px;
    }
    .mg_bigvideo .iconplay img {
        width: 40px;
    }
    h3.pt_menuFooter {
        font-size: 15px;
    }
    .cont_menuFooter {
        font-size: 11px;
    }
    .cont_menuFooterKontak a span {
        font-size: 12px;
    }
    .a_daftarNU {
        font-size: 11px;
        float: none;
        line-height: 17px;
    }
    .row_publikasiPage h1.ht_homeRubrik {
        color: #007E27;
        letter-spacing: normal;
        margin-bottom: 0;
        text-align: left;
        font-size: 25px;
    }
    .row_publikasiPage .hd_search {
        margin-top: 35px;
        font-size: 16px;
    }
    .row_publikasiPage .dd_Filter .select2-container .select2-selection--single .select2-selection__rendered {
        padding: 5px 14px 5px 13px;
        font-size: 11px;
    }
    .row_publikasiPage .dd_Filter .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 14px;
        right: 10px;
        background-size: contain;
        height: 10px;
        width: 16px;
    }
    .row_publikasiPage .search_Publikasi input {
        background: #ffffff;
        padding: 11px;
        border: 0px;
        width: 100%;
        font-size: 11px;
    }
    .row_publikasiPage .submit_Publikasi img {
        width: 50%;
    }
    .row_globalPage {
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }
    /* .row_globalPage .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 0px;
    } */
    .row_globalPage .owl-theme .owl-dots .owl-dot span {
        background: #007E27;
        border-radius: 0px;
    }
    .row_globalPage .owl-theme .owl-dots .owl-dot.active span,
    .row_globalPage .owl-theme .owl-dots .owl-dot:hover span {
        background: #000000;
        border-radius: 0px;
    }
    .sub_ht_rubrik {
        font-weight: 700;
        font-size: 13px;
    }
    .sub_ht_beritaLainnya {
        margin-bottom: 10px;
    }
    .bx_sm_rubrikCat {
        font-size: 9px;
    }
    .mg_sm_rubrik {
        height: 100px;
    }
    .ht_sm_listRubrik {
        height: auto;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .bx_contentPost p,
    .bx_contentPost span {
        font-size: 13px;
    }
    .ht_htpostDetail {
        font-size: 26px;
        line-height: 35px;
    }
    .sp_rightpost,
    .sp_greenpost {
        font-size: 8px;
    }
    .ik-right {
        margin: 35px 0px 40px 0px;
    }
    .ik-bottom {
        margin: 30px 0px 30px 0px;
    }
    .row_articleTitle {
        font-size: 16px;
    }
    .listBeritaPopuler.listBeritaPopulerRight li a span + span {
        width: 82%;
    }
    .ht_relatedPost {
        font-size: 18px;
    }
    h3.ht_videoisnu_detail {
        font-size: 15px;
    }
    .info_videoisnu_detail {
        font-size: 11px;
    }
    #bnr_tokoh {
        height: 128px;
        padding: 18px 30px;
        margin: 0px;
    }
    .bnr_tokohTitle {
        width: 70%;
    }
    .bnr_tokohTitle h4 {
        font-size: 14px;
    }
    .bnr_tokohTitle h5 {
        color: #ffffff;
        font-weight: normal;
        font-style: italic;
        margin-top: 11px;
        font-size: 9px;
        line-height: 14px;
        margin-bottom: 0px;
        width: 155px;
    }
    .wrap_tkhFoto {
        padding-left: 0px;
        padding-right: 0px;
    }
    .wrap_tkhProfile {
        padding-left: 0px;
    }
    .tkh_foto {
        height: 370px;
        margin-bottom: 20px;
    }
    .tkh_foto img {
        max-height: 200%;
    }
    .tkh_nama {
        font-size: 17px;
    }
    .tkh_jabatan {
        font-size: 9px;
        margin-bottom: 13px;
    }
    .tkh_namaLengkap,
    .tkh_ttl {
        margin-bottom: 5px;
    }
    .tkh_namaLengkap,
    .tkh_ttl,
    .tkh_tglM {
        font-size: 12px;
    }
    .tkh_cuplikan {
        margin-top: 14px;
        font-size: 12px;
    }
    .box_btnMediaKategori {
        display: flex;
        justify-content: center;
    }
    .btn_mediaKategori {
        font-size: 12px;
        float: none;
        margin-top: 10px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .media_highlight {
        height: 210px;
    }
    .media_highlight .iconplay img {
        width: 60px;
    }
    .wrap_mediaHighlight.wrap_mediaHighlightMobileVideo {
        padding-right: 0px;
        padding-left: 0px;
        margin-bottom: 40px;
    }
    .media_highlightWrapper h5 {
        font-size: 17px;
    }
    .media_highlightWrapper p {
        font-size: 12px;
    }
    .media_highlightSmallThumb {
        height: 90px;
    }
    .media_highlightSmall {
        margin-bottom: 15px;
    }
    .media_videoThumb {
        height: 70px;
    }
    .media_highlightSmallTxt h5 {
        font-size: 12px;
    }
    .media_highlightSmallTxt p {
        font-size: 9px;
    }
    /* .wrap_videoList {
        display: flex;
        justify-content: space-between;
    } */
    .mg_rubrik {
        height: 175px;
    }
    .btn_loadmore {
        margin-top: 0px;
    }
    .mg_footerLogo {
        margin: 0px;
    }
    .info_sm_listRubrik {
        font-size: 11px;
    }
    .outerFoto {
        margin-bottom: 55px;
    }
    /* .a_registNow {

    } */
    .col_daftarPage2 {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 20px;
    }
    .list_pendidikan > div {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 10px;
    }
    .gelar_pendidikan .btn_addremove {
        padding-top: 5px !important;
    }
    .list_organisasi > div {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 10px;
    }
    .pengalaman_organisasi .btn_addremove {
        padding-top: 5px !important;
    }
    .ht_rekomandasiVideo {
        font-size: 20px;
    }
    .wrap_videoAttachment {
        height: 190px;
    }
    .wrap_mediaKategori {
        margin-top: 40px;
    }
    .row_artikelPopuler {
        margin-top: 25px;
        margin-bottom: 0px;
    }
    .tabsTentang li a {
        font-size: 30px;
    }
    .choose_arrow {
        left: -42px;
        top: 50%;
        font-size: 43px;
        margin-top: -27%;
    }
    .mg_back_tentangPage img {
        width: 100%;
    }
    .box_cont_onevisi {
        width: 80%;
        font-size: 20px;
        line-height: 36px;
        margin-top: 9px;
    }
    .numb_tentang {
        width: auto;
        font-size: 25px;
        padding-right: 15px;
    }
    .col_listTentang {
        padding: 0;
        height: auto;
        margin-bottom: 25px;
    }
    .content_tentang {
        width: 80%;
        font-size: 10px;
    }
    .ht_kepengurusanTitle {
        font-size: 26px;
    }
    .ht_kepengurusanDescription {
        font-size: 12px;
        width: 100%;
        margin-bottom: 30px;
    }
    .wrap_posisiKepengurusan > .posisiKepengurusan {
        border-left: 4px solid #006714;
    }
    .posisiKepengurusan {
        padding: 5px 5px 5px 15px
    }
    .posisiKepengurusan .text {
        font-size: 13px;
    }
    .posisiKepengurusan .arrow {
        padding: 2px 8px;
    }
    .posisiKepengurusan .arrow img {
        width: 10px;
    }
    .wrap_subPosisi {
        padding: 0px 0px 0px 15px;
    }
    .profileKepengurusan {
        margin-bottom: 5px;
        padding: 10px;
    }
    .profileKepengurusan .foto {
        width: 22%;
        height: 68px;
    }
    .profileKepengurusan .nama h6 {
        margin: 0px 0px 3px 0px;
        font-weight: 500;
        font-size: 11px;
    }
    .profileKepengurusan .nama p {
        font-size: 10px;
    }
    .wrap_subPosisiKepengurusan {
        padding-right: 0px;
    }
    .ht_globalPage {
        font-size: 25px;
        margin-bottom: 11px;
    }
    .content_hubungi {
        font-size: 11px;
        line-height: 20px;
    }
    .box_listHubungi {
        margin-top: 25px;
    }
    .f_listHubungi {
        margin-bottom: 9px;
    }
    .f_listHubungi label {
        font-size: 11px;
        letter-spacing: .3px;
        padding-left: 12px;
        margin: 0px;
    }
    .txt_deftext {
        font-size: 12px;
        line-height: 30px;
    }
    .f_formHubungi label {
        font-size: 11px;
    }
    .f_formHubungi span.wpcf7-not-valid-tip {
        font-size: 11px;
    }
    .wrap_progList {
        margin-bottom: 40px;
    }
    .wrap_progImg {
        padding-right: 0px;
    }
    .wrap_progTxt {
        padding-left: 0px;
    }
    .wrap_progTxt .a_nextRubrik {
        margin-bottom: 12px;
    }
    .tkh_profileJabatan {
        margin-top: 10px;
        font-size: 10px;
        padding: 6px 15px;
    }
    .tkh_profileTitle {
        margin-bottom: 0px;
        /* margin-top: 40px; */
        font-size: 20px;
        font-weight: bold;
    }
    .prog_title {
        margin: 14px 0px 0px 0px;
    }
    .prog_img {
        height: 220px;
    }
    .prog_excerpt {
        margin: 11px 0px 0px 0px;
    }
    .profile_tkh {
        display: block;
        padding: 15px;
        margin-bottom: 45px;
        margin-top: 20px;
    }
    .profile_tkh .foto {
        width: 100%;
        margin: 0px 0px 20px 0px;
    }
    .profile_tkh .foto img {
        max-height: 100%;
        width: 100%;
    }
    .profile_tkh .biodata {
        width: 100%;
    }
    .bx_contentPost {
        font-size: 12px;
    }
    .mg_sm_rubrik img{
        height: 100%;
    }
    .prog_img img {
        max-height: 120%;
    }
    .title_posisiKepengurusan {
        margin-right: 0px;
        position: relative;
        background-color: #E3E3E3;
        padding: 25px 10px 25px 10px;
        margin-left: 20px;
    }
    .title_posisiKepengurusan div {
        left: -20px;
        top: 9px;
        padding: 6px 12px;
        width: 178px;
        font-size: 12px;
    }
    .newwrap_subPosisiKepengurusan {
        margin: 0px 0px 0px 20px;
        /* padding: 10px 10px; */
    }
    .newProfileKepengurusan {
        padding: 0px;
        height: 85px;
    }
    .newProfileKepengurusan .foto {
        margin-right: 25px;
        width: 60px;
        height: 60px;
        margin: 10px 10px 10px 10px;
    }
    .newProfileKepengurusan .nama {
        width: 30%;
        margin-left: 5px;
    }
    .newProfileKepengurusan .nama.full {
        width: 45%;
    }
    .newProfileKepengurusan .nama h6 {
        font-size: 10px;
    }
    .newProfileKepengurusan .nama p {
        margin: 0px;
        font-size: 9px;
    }
    .newProfileKepengurusan .selengkapnya {
        background-color: #F2F2F2;
        width: 90px;
        height: 100%;
        font-size: 8px;
    }
    .newwrap_subPengurus,
    .newwrap_subPengurus_mobile {
        padding-left: 35px;
    }
    .breadcrumb_kepengurusan {
        font-size: 10px;
    }
    .box_btnKepengurusan .btn_yellow {
        padding: 5px 20px;
        font-size: 14px;
    }
}